.home {
    display: flex;
  }

  .toggle-btn {
    display: none;
  }
  
  @media (max-width: 768px) {
    .home {
      flex-direction: column;
    }
  
    .toggle-btn {
      display: block;
      position: fixed;
      top: 16px;
      left: 16px;
      background-color: #f1f1f1;
      border: none;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .sidebar-open {
      transform: translateX(0);
    }
  }
  

  .container {
    display: flex;
    flex-direction: column;
    height: 0;
    padding-bottom: 66.67%; /* 6:4 ratio (4 / 6 * 100%) */
    overflow: hidden;
  }
    